<div class="burger-menu" data-menu>
  <label class="burger-menu__label">
    <input class="burger-menu__input" type="text" />
    <button class="burger-menu__search-button" type="submit">
      <svg class="burger-menu__icon">
        <use href="./images/icons.svg#_icon-search"></use>
      </svg>
    </button>
  </label>

  <ul class="list menu-nav">
    <li></li>
    <li class="menu-nav__item">
      <h2 class="menu-nav__title" data-toggle-list>Компания</h2>
      <ul class="list submenu menu-nav__submenu is-hidden" data-show-list>
        <li class="submenu__item">
          <a class="link submenu__link" href="#">Контакты</a>
        </li>
        <li class="submenu__item">
          <a class="link submenu__link" href="#">О компании</a>
        </li>
      </ul>
    </li>
    <li class="menu-nav__item">
      <h2 class="menu-nav__title" data-toggle-list>Каталог</h2>
      <ul class="list submenu menu-nav__submenu is-hidden" data-show-list>
        <li class="submenu__item">
          <a class="link submenu__link" href="#">Оконные системы</a>
        </li>
        <li class="submenu__item">
          <a class="link submenu__link" href="#">Фасадные системы</a>
        </li>
        <li class="submenu__item">
          <a class="link submenu__link" href="#">Уличная мебель</a>
        </li>
        <li class="submenu__item">
          <a class="link submenu__link" href="#"> Мультимедиа проекторы </a>
        </li>
        <li class="submenu__item">
          <a class="link submenu__link" href="#">Цветные МФУ</a>
        </li>
        <li class="submenu__item">
          <a class="link submenu__link" href="#"> Измерительное оборудование </a>
        </li>
      </ul>
    </li>
    <li class="menu-nav__item">
      <a class="link menu-nav__link" href="#">
        <h2 class="menu-nav__title">Контакты</h2>
      </a>
    </li>
    <li class="menu-nav__item">
      <a class="link menu-nav__link" href="#">
        <h2 class="menu-nav__title">Вопросы-ответы</h2>
      </a>
    </li>
    <li class="menu-nav__item">
      <a class="link menu-nav__link" href="#">
        <h2 class="menu-nav__title">Прайс-лист</h2>
      </a>
    </li>
    <li class="menu-nav__item">
      <a class="link menu-nav__link" href="#">
        <h2 class="menu-nav__title">Услуги</h2>
      </a>
    </li>
  </ul>
  <div class="call-us">
    <div class="call-us__phone-body">
      <a class="link call-us__phone" href="tel:+70000000000">
        <svg class="call-us__icon">
          <use href="./images/icons.svg#_icon-phone"></use>
        </svg>
        +3 (800) 000-00-00
      </a>
      <p class="call-us__phone-text">Бесплатная консультация</p>
    </div>
    <button class="call-us__button" type="button">Заказать звонок</button>
  </div>
  <div class="burger-menu__registration">
    <a class="link burger-menu__registration-link" href="#">
      <svg class="burger-menu__user-avatar">
        <use href="./images/icons.svg#_icon-user"></use>
      </svg>
      Войти/регестрация
    </a>
  </div>
</div>
